<!DOCTYPE html>
<html>
<head>
  <title>Timber</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
  </script>
</head>
<body>
  <div class="container-logo-register">
<div class="logon_register"><a href = "/users/sign_in">Login<a/> | <a href="/users/sign_up">Register</a></div>
  </div>
<%= yield %>

</body>
</html>
